/*HTML: EVENTS*/
.eventMaaned{
    width: 90%;
    margin: auto;
    margin-top: 100px; 
}

.eventMaaned h1{
    text-align: center;
    margin-bottom: 100px;
}

/*Flexer de forskellige events*/
.eventFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Justering af størrelse på hvert event i oversigten,
så tekst og billede aligner både til højre og venstre*/
.eventFlex div{
    width: 33%;
    min-width:400px;
    max-width: 400px;
}

.eventFlex h2{
    text-align: center;
}

/*ur-ikon og klokkeslæt*/
.eventTidIkon{
    display: flex;
    justify-content: left;
    width:max-content;
    border: 1px solid black; /*border så jeg kan se linjerne for alle de div'ere*/
}

/*Laver afstand mellem ur-ikon og klokkeslæt*/
.eventTidIkon h2{
    margin-left: 4%;
}

/*Flexer tid og lilleCTA*/
.eventTidKnap{
    display: flex;
    justify-content: center;
    border: 1px solid black; /*border så jeg kan se linjerne for alle de div'ere*/
}




/*Hvordan styler vi størrelse og farve på fontawesomeikoner?!*/





/*Event billeder
- billederne til hvert event indsættes som background-image,
hvor height og cover bruges til at give alle ens størrelse/format.
Da width er samme som den tilhørende tekst (beskrivelsen af eventet)
fastsættes denne oppe i .eventFlex div*/
.eventBillede{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}


/*Event billeder i maj*/
#maj1{
    background-image: url(img/event/flyvende-signering-groen.svg);
}

#maj2{
    background-image: url(img/event/skrivemaskine-lilla.svg);
}

#maj3{
    background-image: url(img/event/flyvende-boeger-gul.svg);
}

#maj4{
    background-image: url(img/event/flyvende-skrivemaskiner-gul.svg);
}

#maj5{
    background-image: url(img/event/signering-groen.svg);
}

#maj6{
    background-image: url(img/event/balloner-lilla.svg);
}

/*Event billeder i juni*/
#juni1{
    background-image: url(img/event/flyvende-boeger-lilla.svg);
}

#juni2{
    background-image: url(img/event/flyvende-boeger-gul.svg);
}



/*HTML: LÆSEKLUBBER*/

/*Vores læseklubber sektionen styles og flexes*/
.laeseklubberLaeserFlex{
    display: flex;
    justify-content: space-between;
}

.laeseklubberLaeserFlex div{
    width: 45%;
    width: 228px;
    margin-inline-end: 30px;
}


/*Styrer Læseklub 2 læser's placering
så den centres i højden ift. læseklub 1
og 3 på venstre side.*/
#laeseklub2Flyt{
    position: relative;
    top: 25%;
    bottom: 25%;
}

.bogCover{
    height: 346px;
    background-size: cover;
    background-repeat: no-repeat;
}

#bogCover1{
    background-color: aquamarine; /*skift ud med background-image url*/
}

#bogCover2{
    background-color: aquamarine; /*skift ud med background-image url*/
}

#bogCover3{
    background-color: aquamarine; /*skift ud med background-image url*/
}