* {

    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


img {
    width: 100%;
}


h1, h2, h3 {
    color:#2A3C24;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin-bottom: 15px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}
 

h3 {
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1f1f;
    font-size: 15px;
    line-height: 24px;
}

    
a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A3C24;
}

.lilleCTA, .storCTA {
    background-color: #f9dc5c;
    padding: 3%;
    text-align: center;
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;

}

ul li {
    list-style-type: none;
}




/* TO KOLONNER */

.toKolonner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



.toKolonnerBillede {
    width: 50%;
    margin: auto;
}

.toKolonnerTekst {
    width: 35%;
    margin: auto;
}


/* HEADER*/

header  {
    height: 8vw;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
}

#logo {
    width: 4.5%;
    margin-left: 2.5vw;
    margin-top: 1vw;
}

nav ul{
    display: flex;
    position: relative;
    top: 5.5vw;

}

nav a {
    padding: 0vw 0vw 1vw 1vw;
    font-size: 13px;
    font-weight: 600;
    margin-right: 3vw;
}

nav li {
    margin-right: 2vw;
}

  header li a:hover,
  .dropdown:hover .dropbtn {
    color: #A690A4;
  }

  .dropdown-content {
    display: none; /*Indhold i dropdown viser sig ikke*/
    position: absolute;
    top: 2vw;
    background-color: white;
    z-index: 1;
  }
  

  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .ikoner {
    display: flex;
    margin-right: 2vw;
    position: relative;
    top: 4.5vw;
  }
  .ikoner div i{
    width: 60px ;
  }


  /*FORSIDE*/

