/*Overskrifter der skal centreres
og have samme top og bottom margin*/
.overskriftCenter {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

/*sørger for at det første element på siden er
100% synlig ved at lægge under headeren og
ikke bagved*/
main {
  margin-top: 130px;
}

/*HTML: EVENTS*/
.eventMaaned {
  width: 90%;
  margin: auto;
}

/*Flexer de forskellige events*/
.eventFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Justering af størrelse på hvert event i oversigten,
så tekst og billede aligner både til højre og venstre*/
.eventFlex div {
  width: 30%;
  min-width: 400px;
  max-width: 40px;
}

.eventFlex h2 {
  text-align: center;
}

/*Flexer tid og lilleCTA*/
.eventTidKnap {
  display: flex;
  justify-content: space-between;
}

.eventKnap a {
  position: relative;
  top: 25%;
  bottom: 25%;
  left: -30%;
}

/*ur-ikon og klokkeslæt flexes*/
.eventTidIkon {
  display: flex;
  justify-content: left;
}

/*Laver afstand mellem ur-ikon og klokkeslæt*/
.eventTidIkon h2 {
  margin-left: 4%;
}

/*Hvordan styler vi størrelse og farve på fontawesomeikoner?!*/

/*Event billeder
- billederne til hvert event indsættes som background-image,
hvor height og cover bruges til at give alle ens størrelse/format.
Da width er samme som den tilhørende tekst (beskrivelsen af eventet)
fastsættes denne oppe i .eventFlex div*/
.eventBillede {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

/*Event billeder i maj*/
#maj1 {
  background-image: url(img/event/flyvende-signering-groen.svg);
}

#maj2 {
  background-image: url(img/event/skrivemaskine-lilla.svg);
}

#maj3 {
  background-image: url(img/event/flyvende-boeger-gul.svg);
}

#maj4 {
  background-image: url(img/event/flyvende-skrivemaskiner-gul.svg);
}

#maj5 {
  background-image: url(img/event/signering-groen.svg);
}

#maj6 {
  background-image: url(img/event/balloner-lilla.svg);
}

/*Event billeder i juni*/
#juni1 {
  background-image: url(img/event/flyvende-boeger-lilla.svg);
}

#juni2 {
  background-image: url(img/event/flyvende-boeger-gul.svg);
}

/*HTML: LÆSEKLUBBER*/

/*Vores læseklubber sektionen styles og flexes*/
.laeseklubberLaeserFlex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

/*Bogcover-billedet mm. og beskrivelsen af bogen får samme width
- min-width bruges, så billedet får den korrekte bredde,
imens teksten kan få lov at bredde sig mere*/
.laeseklubberLaeserFlex div {
  min-width: 228px;
  width: 45%;

  /*det bliver jo meget mere end 10px, så hvordan får vi styringen over mellemrum mellem billede og tekst her????*/
  margin-inline-end: 10px;
}

/*Får 'Læg i kurv'-knappen og prisen på varen
til at placere sig ved siden af hinanden*/
.knapPrisFlex {
  display: flex;
  justify-content: space-between;
}

/*Styrer Læseklub 2 læser's placering
så den centres i højden ift. læseklub 1
og 3 på venstre side.*/
#laeseklub2Flyt {
  position: relative;
  top: 25%;
  bottom: 25%;
  justify-content: right;
}

.bogCover {
  height: 346px;
  background-size: cover;
  background-repeat: no-repeat;
}

#bogCover1 {
  background-color: aquamarine; /*skift ud med background-image url*/
}

#bogCover2 {
  background-color: aquamarine; /*skift ud med background-image url*/
}

#bogCover3 {
  background-color: aquamarine; /*skift ud med background-image url*/
}

/*BOGBESKRIVELSE*/

#lillaBlob {
  position: relative;
  width: 100%;
  z-index: -10;
  margin-left: -407px;
  margin-bottom: -30px;
}

#bogbeskrivelseCover {
  width: 65%;
  z-index: 1;
}

/*EVENTBESKRIVELSE*/
.bogOverBlob {
  margin-bottom: -70px;
}

#gulBlob {
  position: relative;
  width: 130%;
  z-index: -10;
  margin-left: -160px;
  margin-top: -245px;
}

#eventbeskrivelseCover {
  position: relative;
  margin-left: -113px;
  margin-bottom: -200px;
  width: 110%;
  z-index: 1;
}

#gulBallon {
  position: relative;
  width: 7%;
  margin-top: -600px;
  margin-left: 50px;
}

#groenBallon {
  position: relative;
  width: 6%;
  margin-top: 200px;
  margin-left: 120px;
}

#lillaBallon {
  position: relative;
  width: 9%;
  float: right;
  margin-top: -960px;
  margin-right: 150px;
}

#beigeBallon {
  position: relative;
  width: 8%;
  float: right;
  margin-top: -480px;
  margin-right: 450px;
}

/*404*/
/*Bog animation + fejltekst*/
/*#bogAnimation {
    width: 40%;
    margin-left: 150px;
  }*/

#fejlTekst {
  margin-top: 140px;
}

#fejlTekst h6 {
  color: #2a3c24;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 50px;
}

#fejlTekst h1 {
  text-align: right;
  margin-right: 140px;
}

#tristSmiley {
  width: 6%;
  margin-left: 1.5%;
}

/*CTA + pil*/
#fejlsideCTA {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 20%;
}

#fejlsideKnap {
  width: 50%;
}

#fejlsideHaandskrift {
  width: 50%;
}

h5 {
  font-family: "Indie Flower", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

#knapPil {
  width: 20%;
  position: relative;
  margin-left: -30px;
}
